{% extends 'layout.html.twig' %}
{% block body %}
    <div class="center row">
        <div class="large-12 columns">
            <div class="panel">

                <h1>{{ abtest.name }}</h1>

                <p>{{ abtest.description }}</p>
                <p>{{ abtest.startDate|date('M d') }} - {{ abtest.endDate|date('M d') }}</p>

            {% if "now"|date('Y-m-d') > abtest.endDate|date('Y-m-d') %}
                <h2>Insights</h2>

                <ul>
                    {% for insight in insights %}
                        <li>{{ insight.description }}</li>
                    {% endfor %}
                </ul>
            </div>
                <h2>Your weight from {{ abtest.startDate|date('M d') }} - {{ abtest.endDate|date('M d') }}</h2>
                <iframe id="iframeId" class="data-graph" height="400px"
                        src="http://hdlbit.com/visualization/index.html?measure=weight" onload="iframeLoaded()"
                        scrolling="no">Loading Graph</iframe>

                <a href="{{ path('abtestindex') }}">
                    Good work! Head back to AB/Tests to view your other tests or create another.
                </a>
            {% else %}
                <span class="round success label">In Progress</span> You'll see valuable insights here when your
            test is complete!
            </div>
            <a href="{{ path('abtestindex') }}">
                Looking good! Head back to AB/Tests to view your other tests or create another.
            </a>
            {% endif %}
            <script type="text/javascript">
                function iframeLoaded() {
                    setTimeout(function(){
                        var iframe = document.getElementById('iframeId');
                        iframe.height = "";
                        iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
                    }, 1200);
                }
            </script>
            <style type="text/css">
                .data-graph {
                    border: none;
                    width: 100%;
                }
                iframe body img {
                    width: 100%;
                }
            </style>
        </div>
    </div>
{% endblock %}