{% extends 'layout.html.twig' %}
{% block body %}
    <div class="large-12 columns">

        <h1>{{ abtest.name }}</h1>

        <p>{{ abtest.description }}</p>
        <p>{{ abtest.startDate|date('M d') }} - {{ abtest.endDate|date('M d') }}</p>

        <h2>Insights</h2>

        <ul>
            {% for insight in insights %}
                <li>{{ insight.description }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}