{% extends "layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .center.row {
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            max-width: 500px;
        }

        .signup-panel {
            padding: 15px;
            text-align: center;
        }

        .signup-panel i {
            font-size: 30px;
            line-height: 50px;
            color: #999;
        }

        .signup-panel form input, .signup-panel form span {
            height: 50px;
        }

        .signup-panel .welcome {
            font-size: 26px;
            text-align: center;
            margin-left: 0;
        }

        section.active {
            padding-top: 75px !important;
        }

        p.title {
            border-bottom: 1px solid #cccccc !important;
        }
    </style>
{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="center row">
        <div class="section-container tabs" data-section="tabs">
            <section>
                <p class="title" data-section-title><a href="#">Sign In</a></p>
                <div class="content" data-section-content>
                    <p>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="signup-panel">
                                <p class="welcome">Welcome back!</p>
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="row collapse">
                                        <div class="small-12  columns">
                                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email" />
                                        </div>
                                    </div>
                                    <div class="row collapse">
                                        <div class="small-12 columns ">
                                            <input type="password" id="password" name="_password" required="required" placeholder="Password"/>
                                        </div>
                                    </div>
                                    <input type="submit" id="_submit" name="_submit" class="button" value="{{ 'Submit'|trans }}">
                                </form>
                            </div>
                        </div>
                    </div></p>
                </div>
            </section>
        </div>
    <div>
    <a href="{{ path('fos_user_registration_register') }}">Register</a>
{% endblock %}