{% extends 'layout.html.twig' %}
{% block body %}
	<style type="text/css">
	.daySummary {
		
		margin-bottom: 10px;
		margin-left: 1%;

	}
	.daySummary > h1 {
		margin: 0;
	}
	</style>

	{% for dayString, dayData in data %}
		<div class="daySummary row" >
			<h1>{{ dayString|date("F jS") }}</h1>
			{% for measurementInfo in dayData %}
				<a class="dayMeasurement" 
					href="/graph/measure?measure={{ measurementInfo.measurementObj.slug  }}" >
					<div class="dayMeasurementLabel" >
						{{ measurementInfo.measurementObj.name }}
					</div>
					<div class="dayMeasurements" >
						{% for dayData in measurementInfo.data  %}
							<div class="dayMeasure" >
								<span class="units small-6 columns" >
									{{ dayData.units }} {{ dayData.unit_type_id }}</span>
								<span class="measureTime small-6 columns" >
									{{ dayData.event_time|date("ga") }}</span>
							</div>
						{% endfor %}
					</div>
				</a>
			{% endfor %}
		</div>
        {% else  %}
		You have no updates in this past week. Please authenticate your data sources <a href="/providers">here</a> or contact us at contact@happystats.io for assistance.
	{% endfor %}
{% endblock %}
